@page "/"
@inject FileService fileservice
@inject IJSRuntime JS
@inject NavigationManager navman
<PageTitle>Home</PageTitle>
<p class="home-title">Qosert</p>
<div class="center-div">
    <div class="file-upload-area">
        <InputFile OnChange="OnInputFileChange" class="input-file" accept=".csv,.xls,.xlsx" />
    </div>
</div>
<button @onclick="ProcessFile" disabled="@(!isFileSelected)">Continue</button>
<p>@results</p>
@code{
    public IBrowserFile file { get; set; }
    private bool isFileSelected = false;
    private List<Contact> results;
    private async Task OnInputFileChange(InputFileChangeEventArgs e)
    {
        file = e.File;
        isFileSelected = file != null;
    }
    private async Task ProcessFile()
    {
        if (file == null) return;
        using var memoryStream = new MemoryStream();
        await file.OpenReadStream().CopyToAsync(memoryStream);
        using var stream = file.OpenReadStream();
        memoryStream.Position = 0;
        var token = await JS.InvokeAsync<string>("localStorage.getItem", "authToken");

        fileservice.GetContacts(memoryStream, token);
        navman.NavigateTo("/template");
    }

}